@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GradeCalculatorModel;

<div class="center">
    <h2>Grade Calculator</h2>
    <form  method="post" class="form">
        <label>Assignments</label>
        <input id="assignments" type="number" asp-for="Assignment" /><br />

        <label>Group Project</label>
        <input id="groupproject" type="number" asp-for="Group" /><br />

        <label>Quizzes</label>
        <input id="quizzes" type="number" asp-for="Quiz" /><br />

        <label>Exams</label>
        <input id="exams" type="number" asp-for="Exam" /><br />

        <label>INTEX</label>
        <input id="intex" type="number" asp-for="INTEX" /><br />

        <input id="calculator" type="submit" value="Calculate Grade" />

        <div asp-validation-summary="All"></div>
    </form>

    <script src="~/js/JavaScript.js"></script>
</div>