@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 2 Solution: A little About Me";
}

<!--HTML page to display the contents of my assignment-->
<div class="center">
    <h1>Stetson Kent</h1>
</div>

<div class="center">
    <img src="~/img/snowmobiling.jpg" />
    <div class="flex-coontainer">
        <p>
            One of my biggest goals for this class is to learn more libraries available to me when building
            a website. Specifically, anything that can help me make my websites look cleaner since I'm terrible at CSS. That's another area I want
            to improve in. I've never been very creative and my css skills are very basic. One goal I have is to do a little more than the minimum CSS
            requirements on any given assignment. I want to explore and apply something new regarding CSS whenever I can. Lastly, I'm just excited
            to begin to undertand how to program in C#.
        </p>
    </div>

    <p>Top 3 Jobs:</p>

    <ul>
        <li>Data Scientist</li>
        <li>Software Security Analyst</li>
        <li>Software Engineer</li>
    </ul>
</div>




